/* Formatage de la page */
*{
   margin: 0;
   padding: 0;
 /*border: 1px solid black;*/
 }
 
 /* Body, Bloc Page et Titre et lien */ 
 
 body
 {
    background-color: aliceblue;
 }
 
 #blocpage
 {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 2em;
 }
 
 .titre
 {
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
 } 
 
 a
 {
    text-decoration: none;
    color: white;
 }
 a :hover
 {
    color: white;
 }
 a :visited
 {
    color: white;
 }

 #banniere
 {

     z-index: 1;
     background-color: #3cae4bca;
     background-image: url("../images/rtx2060.jpg"); 
     height: 270px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     box-shadow: 0px 4px 4px #1c1a19;
 }
 #textbanniere 
 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: absolute;
     top: 75%;
     width: 844px;
     padding: 1em;
     font-size: 1em;
     color: white;
     background-color: #3cae4b54;
 }

 #boutonvert
 {
     height: 30px;
     border: 1px solid #8bc34a49;
     background-color: #4CAF50;
     padding: 1em;
 }

 .boutonvert
 {
     background-color: rgb(119, 185, 0); /* Green */
     border: none;
     border-radius: 10%;
     padding: 5px 5px;
     text-align: center;
     color: white;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
 }   

 #boutonbis
 {
     height: 30px;
     border: 1px solid #8bc34a49;
     background-color: rgb(119, 185, 0);
     margin-bottom: 1.2em;
     position: absolute;
     left: 32%;
 }
 
 /* Header */ 
 
 header
 {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
 }
 
 #logo
 {
    width: 7%;
    height: 7%;
    padding: 3px;
 }
 
 nav
 {
    display: flex;
    width: 800px;
    justify-content: space-around;  
 }
 nav ul
 {
    display: flex;
    list-style: none;
    padding: 0px 10px 10px 0px;
 }
 nav ul li
 {
    text-decoration: none;
    color: black;    
    padding: 10px 2em;
 }
 nav a
 {
    color: black;
 }
 
 img[alt^="GeForce"]
 {
     padding: 1px 8px;
 }
 
 /* Main Section */ 
 
 main
 {
    display: flex;
    padding: 2em 0 0;
    border-bottom: 3px solid  rgb(119, 185, 0);

 }
 
 img[alt^="icone"]
 {
    width: 3%;
    border: 1px solid black;
    margin: 0 8px;
 }
 
 h1
 {
    padding: 1em 0;
 }
 
 section
 {
    padding-right: 2em;
 }
 
 p
 {
    text-align: left;
    padding-bottom: 1em;
 }
 
 /* Aside */
 
 aside
 {
    display: flex;
    flex: 1.2;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(119, 185, 0);
    padding: 8px 1em 0;
    color: white;
 }
 
 h2
 {
    padding: 0 8px;
 }
 
  
 img[alt^="Nvidia Corporation"]
 {
    width: 30%;
 } 
 
 #sns
 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 3em;
 }
 
 #flechevertebas
 {
    position: absolute;
    left: 50%;
 }
 
 /* Footer */ 
 
 footer
 {
   display: flex;
   flex-flow: row nowrap;
   align-items: flex-end;
   justify-content: space-between;
   padding-top: 2em;
 }

 #newsletter
 {
   display:flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 1.2em;
 }

 .news
 {
   display: flex;
   flex-flow: column wrap;
   padding: 5px;
 }

 #galerie
 {
   margin-left: 5em;
 }

 img[alt^="Galerie Nvidia"]
 {
   width: 60px;
   height: 60px;
   overflow: hidden;
 }
  
 img[alt^="Partenaires"]
 {
   width: 70px;
   height: 60px;
   overflow: hidden;
 }